@import '/src/styles/variables.scss';

.about-content {
   display: flex;
   flex-direction: column;
   max-width: 100vw;
   height: fit-content;
   margin-top: 4vh;
   margin-bottom: 5vh;

    .photo-container {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        height: 85vh;
        background-color: $light-pink;
        border-radius: 20px;
        
        .descripition {
            box-sizing: border-box;
            width: 30%;
            height: 100%;
            background-color: $pink;
            color: $white;
            border-top-left-radius: 17px;
            border-bottom-left-radius: 17px;
            padding: 2em;
            
        }
        
        .second-container {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 15vw;
            margin-right: 18vw;

            .photo {
                height: 30vp;
                width: 25vw;
                border: 5px solid $green;
                border-radius: 50%;
            }

            .name {
                font-size: 2.8vw;
                font-weight: 400;
                margin-bottom: -3px;
            }

            .description {
                font-size: 1.3vw;
            }

        }

    }
    
}