@import '/src/styles/variables.scss';

.project-card {
    width: 14vw;
    height: 14vw;
    background-color: $white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 5px;
    
    .card-img-container {
        height: 14vh;
        max-height: 14vh;

        width: 7vw;
        min-width: 7vw;
        max-width: 7vw;

        display: flex;
        justify-content: center;
        
        box-sizing: border-box;

        .card-img {
            width: 7vw;
            max-width: 7vw;
        }
    }

    .card-name {
        margin-top: 1em;
        font-weight: 600;
        font-size: 1.3vw;
        
    }

    &:hover {
        z-index: 2;
        scale: 1.2;
        transition: 0.3s;
        cursor: pointer;
        background-color: $white;
        box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.596) ;      
    }

    &:not( :hover ) {
        width: 14vw;
        height: 28vh;
        transition: 0.16s;
    }
}