@import '/src/styles/variables.scss';

.tecnologies-content {
    width: 80vw;
    height: 80vh;

    border-radius: 20px;

    background-color: $font-gray-light;

    margin-top: 4vh;
    margin-bottom: 4vh;
}