@import '/src/styles/variables.scss';

.tecnologies-content {
    width: 90vw;
    height: 85vh;
    border-radius: 20px;
    background-color: $font-gray-light;
    margin-top: 5vh;
    margin-bottom: 4vh;
    display: flex;

    .descripition {
        box-sizing: border-box;
        width: 30%;
        height: 100%;
        border-top-left-radius: 17px;
        border-bottom-left-radius: 17px;
        background-color: $font-gray-dark;
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
    }

    .tecnologies {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.5em;

        .icons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }


        .principal-stack {
            width: 90%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            box-sizing: border-box;
            
            
        }

        .secondary-stack {
            width: 90%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            box-sizing: border-box;
            padding-bottom: 1.1em;
        }
    }
}