@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$blue: #5552FF;
$yellow: #F3C522;
$pink: #FF7768;
$light-pink: #FDD8D4;
$red: #E03F1B;
$green: #00BEA7;
$light-green: #B5E2DC;

$black: #1D1D1F;
$white: #FAFAFC;

$font-gray-dark: #51545B;
$font-gray-medium: #7A7D84;
$font-gray-light: #E9E9E9;

$font: 'Rubik';